<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

<div class="container">
    <div class="row">
       <div class="col-md-6 mx-auto mt-5">
          <div class="payment">
             <div class="payment_header">
             </div>
             <div class="content">
                <h1 style="color:black">Transaction Successful !</h1>
                <p><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </svg></p>
                <pre><b>        Amount</b>   Rs.{{amount}}</pre>
                <pre><b>    Receiver Name</b>   {{receiver}}</pre>
                <pre><b>Current Balance</b>   Rs.{{customer.clearbalance}}</pre>
                <a href="/dashboard">Return to Dashboard</a>
             </div>
             
          </div>
       </div>
    </div>
 </div>
