<div *ngIf="apiResult.error" class="alert alert-danger mt-3" role="alert">
    <div class="text-center">Transaction  Failed !!  Please  Check  Your  Details.</div>
 </div>
 <div *ngIf="apiResult.success" class="alert alert-success mt-3" role="alert">
    <div class="text-center"> Transaction  Successfull  !! </div>
 </div>

<form [formGroup]="loginForm" novalidate>
    <div class="col-md-4 offset-md-2">
        <div class="form-group">
            <label for="username" class="form-label mt-4"><b>Username</b></label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter Username"
                formControlName="username" autocomplete="off" 
                [(ngModel)]="userProfile.username"/>
            <div *ngIf="!username?.valid && username?.dirty " class="text-danger mt-2">
                <div *ngIf="username.errors?.required">Username is required</div>
                </div>
        </div>
    </div>
    <div class="col-md-4 offset-md-2">
        <div class="form-group">
            <label for="username" class="form-label mt-4"><b>Password</b></label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password"
                formControlName="password" autocomplete="off" 
                [(ngModel)]="userProfile.userpassword"/>
            <div *ngIf="!password?.valid && password?.dirty " class="text-danger mt-2">
                <div *ngIf="password.errors?.required">Password is required</div>
              </div>

        </div>
    </div>

    <div class="col-md-4 offset-md-2 mt-3">
        <button class="btn btn-dark" type="submit" (click)="handleLogin()">Login</button>
    </div>
</form>